<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanda</title>
</head>
<body>
    <h1>This is django image</h1>
 <div>
        {% if accRec %}
        <table>
            <thead>
                <th>Site Name</th>
                <th>date access</th>
            </thead>
            {% for i in accRec%}
            <tr>
                <td>{{ i.name}}</td>
                <td>{{i.date}}</td>
            </tr>
            {% endfor %}
        </table>
        {%else %}
            <p>no records</p>
        {% endif %}
    </div>
    {{insert_me}} 
    <img src="{% static "basic/Wanda.jpg"%}" alt="wanda">
</body>
</html>